* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

body {
    background-color: #ededed;
}

header {
    background-color: rgb(8, 117, 180);
    color: white;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav,
a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

header nav,
a:hover {
    color: rgba(2, 13, 15, 0.842);
    font-weight: bold;
}

footer {
    background-color: rgb(8, 117, 180);
    color: white;
    height: 200px;
}

.div-quem-sou {
    height: 600px;
    display: grid;
    grid-template-columns: 600px auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.img-perfil {
    width: 300px;

}

.div-imagem {
background-color: white;
border-radius: 10px;
padding: 10px;
height: 400px;
}

.div-texto {
    padding: 10px;
    background-color: white;
    height: 400px;
    font-size: 20px;
    border-radius: 10px;
}

.div-projetos {
height: 600px;
display: grid;
grid-template-columns: auto ;
justify-content: center;
align-items: center;
}